name: Main Workflow

on:
  push:
    branches:
    # Only allow the workflow to be run on version 2 of the Action.
    - main
  pull_request:
    branches:
    # Only allow the workflow to be run on version 2 of the Action source code.
    - main

jobs:
  lint-script:
    name: Lint Action script
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Lint Action script
      uses: azohra/shell-linter@v0.8.0
      # It's okay to continue even if the action errors out, for now
      continue-on-error: true
